<button id="newPostBtn">Create New Post</button>

{{#if posts}}
{{#each posts as |post| }}
<div class="post">
    <div class="postUpper flexy toSides">
        <div class="postHeadline">
            {{post.headline}}
            <button name="{{post.id}}" class="update">Update</button>
            <button name="{{post.id}}" class="delete">Delete</button>
        </div>
        <div class="postInfo">
            Posted on {{post.user_id}}
        </div>
    </div>
    <div class="postLower">
        {{post.content}}
    </div>
</div>
{{/each}}
{{/if}}

<script src="/js/dashboard.js"></script>