{{#each posts as |post| }}
<div class="post">
    {{!-- <h2>{{post.headline}}</h2>
    <h2>{{post.content}}</h2> --}}
    <div class="postUpper flexy toSides">
        <div class="postHeadline">
            {{post.headline}}
        </div>
        <div class="postInfo">
            Posted by {{post.user_id}}
        </div>
    </div>
    <div class="postLower">
        {{post.content}}
    </div>
</div>
{{/each}}